<!-- <h1>{{title}}</h1>
<ol>
    <label>Products</label>
    <li>Mobile</li>
    <li>Laptop</li>
    <li>Tv</li>
</ol>
<form action="login.component.html">
    <input type="text" placeholder="Username"><br>
    <input type="password" placeholder="Password"><br>
    <input type="submit" value="Submit">
</form>

<img src="../assets/image.jpg" width="150" height="150">

<table>
    <thead><th>id</th><th>Name</th><th>Address</th></thead>
    <tbody>
        <tr><td>1</td><td>Rahul</td><td>Nanded</td></tr>
        <tr><td>1</td><td>Rahul</td><td>Nanded</td></tr>
        <tr><td>1</td><td>Rahul</td><td>Nanded</td></tr>
        <tr><td>1</td><td>Rahul</td><td>Nanded</td></tr>

    </tbody>
</table> -->

<!-- <app-navigationbar></app-navigationbar>
<app-login></app-login> -->
<app-rj></app-rj>